{{ define "content" }}

<div class="section-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ with .Title }}
                <div class="list-title">
                    <span class="circle">
                        {{ partial "svg/circle-memphis-01" }}
                    </span>
                    <span class="taxonomy-name">{{ $.Data.Singular | humanize }}</span>
                    <span class="connector">―</span>
                    <h3>{{ . }}</h3>
                </div>
                {{ end }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ partial "list-posts" . }}
            </div>
        </div>
    </div>
</div>

{{ end }}
