{{ define "content" }}

<div class="section-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ with .Title }}
                <div class="list-title">
                    <span class="circle">
                        {{ partial "svg/circle-memphis-01" }}
                    </span>
                    <span class="taxonomy-name">{{ $.Data.Singular | humanize }}</span>
                    <span class="connector">―</span>
                    <h3>{{ . }}</h3>
                </div>
                {{ end }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="list-posts">

                    {{ range .Paginator.Pages }}
                        <div class="post-item">
                            {{ if isset .Params "categories" }}
                                <div class="categories">
                                    <ul>
                                    {{ range $key, $value := .Params.Categories }}
                                        <li><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a></li>
                                    {{ end }}
                                    </ul>
                                    ⟶
                                </div>
                            {{ end }}
                    
                            <a href="{{ .RelPermalink }}">
                                <h4>{{ .Title }}</h4>
                            </a>
                    
                            <span class="date">{{ .Date.Format "January 1, 2006" }}</span>
                        </div>
                    {{ end }}

                    {{ partial "pagination" . }}

                    
            </div>
        </div>
    </div>
</div>

{{ end }}
