<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.min.css"
        integrity="sha256-baSxKEISHdSAWiipPkWRuquIMjgNIR//a++CyhnQdIM=" crossorigin="anonymous" />

    {{ $variablesSCSS := resources.Get "scss/_variables.scss" }}
    {{ $anotherSCSS := resources.Get "scss/another.scss" }}
    {{ $testSCSS := resources.Get "scss/test.scss" }}
    {{ $mainSCSS := resources.Get "scss/main.scss" }}

    {{ $CSS := slice $variablesSCSS $anotherSCSS $testSCSS $mainSCSS | resources.Concat "main.scss" | toCSS | minify | fingerprint}}

    <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" media="all">

    <title>{{ .Site.Title }} - head_match2.html</title>
</head>