$color-primary: #00D7CC;
$color-inactive-gray: #BDBDBD; 

/* Grid variables */
$width: 96%;
$gutter: 4%;
$breakpoint-small: 540px;
$breakpoint-medium: 800px;

$font-sans-serif: 'Inter var', sans-serif;
$font-monospace: Consolas, Menlo, 'Roboto Mono', monospace;