$color-primary: #04D69E;
$color-secondary: #000;
$color-tertiary: #000;
$color-lightest: #fff;
$color-darkest: #000; 

/* Grid variables */
$width: 96%;
$gutter: 4%;
$breakpoint-small: 540px;
$breakpoint-medium: 800px;

$font-sans-serif: 'Inter var', sans-serif;
$font-monospace: monospace;  