$color-primary: #00d7cc;
$color-inactive-gray: #bdbdbd;

/* Grid variables */
$width: 96%;
$gutter: 4%;
$breakpoint-small: 540px;
$breakpoint-medium: 800px;

$font-sans-serif: "Inter var", sans-serif;
$font-serif: freight-text-pro, serif;
$font-monospace: Consolas, Menlo, "Roboto Mono", monospace;
