<div id="header">
    <div class="row">
        <div class="col-6">
            <a href="/" title="Homepage">
                {{ if isset .Site.Params "logo_image" }}
                    <img src="{{ .Site.Params.Logo_image }}" class="logo-img" />
                {{ else }}
                    {{ .Site.Title }}
                {{ end }}
            </a>
        </div>
    
        <div class="col-6">
            <div class="header-right">
                <img src="/images/icon_hamburger.svg" class="icon-menu" alt="Kiwi standing on oval">
            </div>

            <div style="display: none; ">
                {{ range where .Site.RegularPages "Type" "page" }}
                    <a href="{{ .Permalink }}" class="navbar-item">{{ .Title }}</a>
                {{ end }}
            </div>
        </div>
    </div>
    
</div>