<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4=" crossorigin="anonymous" />

    {{ $variablesSCSS := resources.Get "scss/_variables.scss" }}
    {{ $gridSCSS := resources.Get "scss/_grid.scss" }}
    {{ $mainSCSS := resources.Get "scss/main.scss" }}

    {{ $CSS := slice $variablesSCSS $gridSCSS $mainSCSS | resources.Concat "main.scss" | toCSS | minify | fingerprint}}

    <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" media="all">

    <title>{{ .Site.Title }} - head_match2.html</title>
</head>