{{ . }}

{{ $ }}
{{/*  
<div class="list-posts">
    {{ range .Paginator.Pages }}
        <div class="post-item">
            {{ if isset .Params "categories" }}
                <div class="categories">
                    <ul>
                    {{ range $key, $value := .Params.Categories }}
                        <li><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a></li>
                    {{ end }}
                    </ul>
                    ⟶
                </div>
            {{ end }}
    
            <a href="{{ .RelPermalink }}">
                <h4>{{ .Title }}</h4>
            </a>
    
            <span class="date">{{ .Date.Format "January 1, 2006" }}</span>
        </div>
    {{ end }}

    {{ partial "pagination" . }}
</div>  */}}